/**
!/.gitignore
!/.config/
!/.config/dunst/
!/.config/dunst/**
!/.config/fastfetch/
!/.config/fastfetch/**
!/.config/hypr/
!/.config/hypr/**
!/.config/kitty/
!/.config/kitty/**
!/.config/poweline/
!/.config/powerline/**
!/.config/rmpc/
!/.config/rmpc/**
!/.config/fuzzel/
!/.config/fuzzel/**
!/.config/quickshell/
!/.config/quickshell/**
!/README.md
!/Pictures/
!/Pictures/dotfilePics/
!/Pictures/dotfilePics/**
!/Pictures/wallpapers/
!/Pictures/wallpapers/**
