/**
!/.gitignore
!/.config/
!/.config/dunst/
!/.config/dunst/**
!/.config/eww/
!/.config/eww/**
!/.config/fastfetch/
!/.config/fastfetch/**
!/.config/hypr/
!/.config/hypr/**
!/.config/kitty/
!/.config/kitty/**
!/.config/poweline/
!/.config/powerline/**
!/.config/rmpc/
!/.config/rmpc/**
!/.config/waybar/
!/.config/waybar/**
!/.config/wofi/
!/.config/wofi/**
!/.config/fuzzel/
!/.config/fuzzel/**
!/README.md
!/Pictures/
!/Pictures/dotfilePics/
!/Pictures/dotfilePics/**
