$background: rgba(20, 20, 30, 0.5);
$red: #8b4141;
$accent: #7bd687;
$accent-light: #4b8649;
$orange:#a09e45;
$yellow: #daee76;
$text: #d3d4cb;
$border-color: rgba(211, 212, 203, 0.667);
$black: rgb(54, 54, 71);
$gray: #696969;
$gray-light: #aaaaaa;
$blue: #8692e2;

$shadow: 0 0px 6px 4px rgba(20, 20, 30, 0.5);

$border-radius: 15px;
$border-radius-sharp: 0px;

$size-title: 20px;
$size-subtitle: 16px;
$size-regular: 14px;

/*----- GENERAL */

*{
  font-family: "Symbols Nerd Font Mono", "DejaVu Sans Mono"; 
}

window {
  background-color: rgba(0,0,0, 0);
}

.wrapper,
.wrapper_music,
.wrapper_cal{
  background-color: $background;
  color:  $text;
  border-radius: $border-radius-sharp;
  margin-top: 0;
  border: 2px solid $border-color;
  margin: 12px;
  box-shadow: $shadow;
}

.wrapper:nth-child(2){
  margin-top: 0;
}

.wrapper button{
  margin: 10px;
}

.wrapper_music {
  padding: 0;
}
.wrapper_cal{
  background-color: rgba($color: #000000, $alpha: 0);
  padding: 0;
}

button{
    background: none;
    border: 0;
    box-shadow: none;
    color: $text;
    border-radius: $border-radius;
    text-shadow: none;
    padding: 0;
}

scale{
  margin: 0;
  padding: 0;
}

scale trough {
  background-color: $accent-light;
  border-radius: $border-radius;
  margin: 0;
  min-height: 22px;
  border: none;
  padding: 0; 
}

scale trough > highlight {
  background-image: none;
  border-radius: $border-radius;
  min-height: $size-title;
  min-width: $size-title;
  background-color: $accent;
  box-shadow: none;
  border: 0;
}

scale slider {
  background-image: none;
  outline: none;
  border: none;
  box-shadow: none;
  background-color: rgba(0,0,0,0);
  border-radius: 100%;
}

/*----- MUSIC */
.musicbox button:hover{
  background-color: $gray;
}
.playerctl{
  background-color: $accent-light;
  border-radius: $border-radius;
  color:$text;
  font-size: $size-regular;
  margin: 5px 0;
}
.playerctl>button {
  padding: 0 5px;
  color:$black;
  border-radius: $border-radius;
  background-color: $gray-light;
  margin: 0;
}

.playerctl>button:hover {
  color: $gray;
  background-color: $gray-light;
}

.playerctl>label {
  margin: 0 20px;
}

.wrapper_art .album_art {
  min-height: 160px;
  min-width: 160px;
  border-radius: $border-radius-sharp;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 10px;
}

.wrapper_art {
  border-right: 2px solid $border-color;
}

.wrapper_player{
  margin: 0 10px;
}

.song,
.artist{
  background-color: $gray;
  color: $text;
  margin: 5px 0;
  border-radius: $border-radius;
}
.song {
	font-size : $size-regular;
	font-weight : bold;
}
.artist {
	font-size : $size-regular;
}
.song>label,
.artist>label{
  padding: 5px 10px;
}
.icon{
  background-color: $accent;
  color: $black;
  border-radius: $border-radius;
  padding: 25px;
}

.track_row{
  background-color: $gray-light;
  border-radius: $border-radius;
  padding: 0 10px 0 0;
  margin: 5px 0;
}

.track_row button{
  margin: 0;
  padding: 0 5px;
  background: none;
  color: $black
}

.track_row button:hover{
  color: $gray;
  background: none;
}

.track_row scale{
  min-width: 200px;
  margin: 0 5px;
}

.track_row button.active{
  color: $accent-light;
  background: none;
}
.track_row .playbutton{
  background-color: $text;
  color: $black;
  padding: 0 10px;
}
.track_row .playbutton:hover{
  background-color: $gray;
  color: $text;
}

.wrapper_music .slider{
  margin-left: 0;
}

/*----- CALANDER */
.cal{
  background: $background;
  color: $text;
  font-size: $size-regular;
  border-radius:$border-radius-sharp;
  margin: 0;
  padding: 0;
  border: 0;
}
.cal.header{
  text-shadow: none;
  color: $text;
  padding: 0;
  border-radius: $border-radius-sharp $border-radius-sharp 0 0;
  border-bottom: 2px solid $border-color;
  background: none;
}
.cal:selected {
  background: $accent;
  color: $black;
  text-shadow: none;
  border-radius: $border-radius;
}

.cal.highlight {
  color: $text;
  background-color: $gray;
  border-radius: $border-radius;
}

.cal:indeterminate {
  color: $gray-light;
}
.cal.button{
  background-color: $accent;
  color: $black;
  border-radius: $border-radius;
}
.cal.button:hover{
  background-color: $gray-light;
  color: $text;
}

/*------ SETTINGS */

button{
  border-radius: $border-radius;
  background-color: $gray;
  margin: 5px 0;
}

.wrapper button{
  padding: 0 10px;
}

.menuBox{
  background-color: $gray;
  border-radius: 0 0 $border-radius $border-radius;
  margin: 10px;
  margin-top: 0;
}

.menuBox button{
  margin: 0;
}

.dropdown button.active{ 
  margin: 10px 10px 0 10px;
  margin-bottom: 0;
  background-color: $accent-light;
  border-radius: $border-radius $border-radius 0 0 ;
}
.wrapper button:hover,
.wrapper button.active:hover
{
  background-color: $accent;
  color: $black;
}

.subbutton{
  margin: 0 0;
  padding: 0 10px;
}
.subbutton:hover{
  background-color:$gray-light;
}

.slider{
  background-color: $gray;
  border-radius: $border-radius;
  margin: 5px 10px;
}
.slider:last-child{
  margin-bottom: 10px;
}
.slider label{
  padding: 0 15px;
}

.line{
  border-bottom: 2px solid $border-color;
  padding:0;
}

.slider button {
  margin: 0;
  padding: 0;
}

.slider button:hover {
  background-color: transparent;
}
.slider:hover {
  background-color: $accent-light;
}

.slider button:hover {
  background-color: transparent;
}

.slider.off,
.slider.off button
{
  background-color: $gray;
  color: $red;
}
.slider.off scale trough{
  background-color: $gray-light;
}
.slider.off scale trough > highlight{
  background-color: $red;
}

.setting_line{
  margin: 0 10px
  }

.setting_line button{
  margin: 10px 5px;
}

.setting_line button:nth-child(1){
  margin-left:0;
}

.setting_line button:last-child{
  margin-right:0;
}
