$background: rgba(46, 51, 47, 0.6);
$red: #b32a2a;
$accent: #abcc15;
$accent-light: rgba(215, 230, 81, 0.816);
$orange:#d89822;
$yellow: #dac71b;
$text: #ebecd4;
$black: rgba(17, 18, 19, 0.6);
$gray: rgba(126, 129, 134, 0.6);
$gray-light: rgba(212, 212, 219, 0.78);

$border-radius: 5px;

*{
  font-family: "DejaVu Sans Mono", "Symbols Nerd Font Mono"; 
  text-shadow: 0 2 4 rgba(30, 27, 24, 0.9);
  transition: 0.25s;
}
window{
  background-color: $background;
  color:  $text;
  border-radius: $border-radius;
}

button{
    background: none;
    border: 0;
    box-shadow: none;
    color: $text;
    border-radius: $border-radius;
    text-shadow: none;
}
/*----- MUSIC */

.album_art {
  min-height: 140px;
	min-width: 140px;
  margin: 10px;
  border-radius: $border-radius;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.song {
	font-size : 20px;
	font-weight : bold;
  margin-left:0;
}
.artist {
	font-size : 14px;
  margin-left:0;
}
.musicbox{
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.musicbox button.active{
  background-color: $accent;
  color: $black;
}

scale trough {
  all: unset;
  background-color: $text;
  border-radius: $border-radius;
  box-shadow: 0 2 4 $black;
}

scale trough > highlight {
  background-image: none;
  border-radius: $border-radius;
  min-height: 5px;
  background-color: $accent;
}

scale slider {
  background-image: none;
  box-shadow: 0 2 4 $black;
  background-color: $accent;
  border: none;
}

/*----- CALANDER */
.cal{
  background: none;
  border: 0;
  color: $text;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
.cal.header{
  text-shadow: none;
  background-color:  $accent;
  color: $black;
  padding: 0;
  border-radius: $border-radius $border-radius 0 0;
}
.cal:selected {
  background: $accent;
  color: $black;
  text-shadow: none;
}

.cal.highlight {
  color: $accent;
}
.cal:indeterminate {
  color: $gray-light;
}
.cal.button{
  background-color: $black;
  color: $text;
  border-radius: $border-radius;
}
.cal.button:hover{
  background-color: $gray;
  color: $text;
}

/*------ NOTIFICATIONS*/
.notifications  label{
  font-weight: bold;
}

.notifications .tray .empty {
  opacity: 0.3;
}

.notifications .tray label.icon{
  font-weight: bold;
  margin: 0;
  font-size: 5rem;
}

.notifications button{
  margin-bottom: 5px;
  background-color: $gray;
}

.notifications .notification {
  background-color: $gray;
  margin: 0;
  margin-bottom: 10px;
  box-shadow: 0 2 4 $black;
}

.icon {
  min-height: 80px;
	min-width: 90px;
  margin: 5px;
  background-repeat: no-repeat;
  background-size: cover;
}

.notification .line1{
  font-size: 0.9rem;
}

.notification .line2,
.notification .line3{
  font-size:  1.1rem;
}

.notification .line1,
.notification .line3{
  font-weight: normal;
}

.notification .line1,
.notification .line2,
.notification .line3{
  margin: 0;
  margin: 4px;
  color: $text;  
}

/*------ SETTINGS */
.wrapper{
  padding: 10px;
}

.settings button:not(.subbutton){
  margin: 5px;
  padding: 3px;
  background-color: $gray;
  box-shadow: 0 2 4 $black;
}

.menuBox{
  margin: 5px;
  padding: 5px;
  margin-top: 0;
  background-color: $background;
  box-shadow: 0 2 4 $black;
  border-radius: 0 0 $border-radius $border-radius;
}

.settings button.active{ 
  background-color: $accent-light;
  margin-bottom: 0;  
  border-radius: $border-radius $border-radius 0 0 ;
}

.settings button:hover{
  background-color: $accent;
}

.subbutton{
  margin: 2px 0;
  padding: 5px;
}

.musicbox button:hover,
.settings  button.subbutton:hover,
.notifications button:hover{
  background-color: $gray-light;
}

.powerButton{
  background-color: $red;
}

.menuCornerAlt1{
  border-radius: 0 $border-radius $border-radius $border-radius;
}
.menuCornerAlt2{
  border-radius: $border-radius 0 $border-radius $border-radius;
}