* {
  border: none;
  font-family: "Symbols Nerd Font Mono", "DejaVu Sans Mono"; 
  font-size: 13px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

window{
  color: #d3d4cb;
  padding:0;
  margin:0;
}
window#waybar {
  background: rgba(20, 20, 30, 0.5);
  border-bottom: 2px solid rgba(211, 212, 203, 0.667);
}

tooltip{
  background-color: rgba(54, 54, 71, 0.5);
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  margin:0;
  border: 2px solid rgba(211, 212, 203, 0.667);;
}

tooltip label {
  color: #d3d4cb;
  font-size: 10px;
  padding: 0;
  margin:0;
}
/*
*{
color0: #383f44;
color8: #505b63;
color1: #8b4141;
color9: #e17b7b;
color2: #588649;
color10: #84c46d;
color3: #a09e45;
color11: #daee76color4: #6d77a1;
color12: #acb4eb;
color5: #8f528b;
color13: #ab5ca4;
color6: #558f88;
color14: #76ccc2;
color7: #a5afb6;
color15: #d3d4cb;
}*/
#left-pill,
.modules-center,
#right-pill,
#player{
  color: #d3d4cb;
  background-color: #696969;
  border-radius: 15px;
  margin-bottom: 2px;
}

#player{
    margin-left: 15px;
}
#mpris.paused{
    color: #aaaaaa;
}
#controls #mpris.paused{
    color: #363647;
}
#mpris{
    margin: 0 10px;
    transition: 0.2s
}
#controls,
#controls-play{
    background-color: #d3d4cb;
    border-radius: 15px;
    color: #363647;
    margin: 0px;
    padding: 0px 6px;
}
#controls #mpris{
    padding: 0 6px;
    margin: 0;
}
#controls{
    background-color: #aaaaaa;
}

#mpris:hover{
    color:#d3d4cb;
}
#controls-play:hover{
  color:#363647;
  background-color: #696969;
}
.modules-center{
    padding: 0px;
}

#tray{
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 2px;
}
#custom-specialWorkspace{
  transition:0.2s;
  font-weight:bold;
  padding-left:5px;
  padding-right:5px;
  background-color:#7bd687;
  color:#363647;
  border-radius: 0 15px 15px 0;
}

#custom-specialWorkspace:hover,
#custom-menu:hover{
  color: #d3d4cb;
  background-color: #4b8649;
}

#custom-menu{
  transition:0.2s;
  font-weight:bold;
  padding-left:10px;
  margin-left:5px;
  padding-right:5px;
  background-color:#7bd687;
  color:#363647;
  border-radius: 15px 0 0 15px;
}

#custom-player,
#custom-notifications,
#network,
#backlight,
#pulseaudio,
#battery{
  margin-left:10px;
  margin-right:10px;
  transition: 0.2s;
}

#clock.time {
    background-color:#d3d4cb;
    color: #363647;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}
#clock.date{
    padding-left: 10px;
    padding-right: 10px;
}

#network-group{
    background-color:#6d77a1;
    border-radius: 15px;
    margin-right: 10px;
    color:#363647;
}
#custom-bluetooth:hover {
    color:#696969;
}
#custom-bluetooth{
    padding-left:5px;
    padding-right:10px;
}
#network{
    color: #363647;
    background-color: #8692e2;
    border-radius: 15px;
    padding: 0 15px;
    margin: 0;
    border-right: 1px solid #d3d4cb;
}

#network:hover{
    color:#aaaaaa;
    background-color:#6d77a1;
}

#workspaces{
  margin-right: 10px;
  margin-left: 5px;
}

#workspaces button {
  font-weight: bolder;
  padding: 0 2px;
  color: #aaaaaa;
  min-width: 18px;
}

#workspaces button:hover {
  color: #d3d4cb;
  background: none;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  outline: none;
}

#workspaces button.active {
  color: #7bd687;
}

#workspaces button.active:hover {
  color: #4b8649;
}

#workspaces button.urgent {
  color: #e17b7b;
}

#network.disconnected, #network.disabled {
  color: #8b4141;
  background-color:#aaaaaa;
}

#custom-notifications.nonempty{
  color: #e17b7b;
  animation-name: blink;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 3;
  animation-direction: alternate;
}

#pulseaudio.quiet{
  color: rgba(165, 175, 182, 0.6);
}

#pulseaudio.muted{
  color: #e17b7b;
}

@keyframes blink {
  50% {
    color: #d3d4cb;
  }
}

#battery.critical:not(.charging) {
  color: #e17b7b;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.warning:not(.charging){
  color: #daee76;
}

#battery.charging {
  color: #acb4eb;
}

#battery.good{
  color: #7bd687;
}

#battery.charged{
  color: #7bd687;
}

#battery.regular:not(.charging){
  color: #d3d4cb;
}
