/*
*{
color0: #15181a;
color0: rgb(21, 24, 26);
color8: #505b63;
color8: rgb(80, 91, 99);
color1: #8b4141;
color1: rgb(139, 65, 65);
color9: #e17b7b;
color9: rgb(225, 123, 123);
color2: #475e3f;
color2: rgb(71, 94, 63);
color10: #84c46d;
color10: rgb(132, 196, 109);
color3: #8a8933;
color3: rgb(138, 137, 51);
color11: #daee76;
color11: rgb(218, 238, 118);
color4: #4a4d5c;
color4: rgb(74, 77, 92);
color12: #777fbb;
color12: rgb(119, 127, 187);
color5: #584857;
color5: rgb(88, 72, 87);
color13: #ab5ca4;
color13: rgb(171, 92, 164);
color6: #4d716d;
color6: rgb(77, 113, 109);
color14: #76ccc2;
color14: rgb(118, 204, 194);
color7: #a5afb6;
color7: rgb(165, 175, 182);
color15: #d3d4cb;
color15: rgb(211, 212, 203);
background: #383f44;
background: rgb(56, 63, 68);
}
*/
* {
  border: none;
  font-family: "DejaVu Sans Mono", "Symbols Nerd Font Mono"; 
  font-size: 13px;
  font-weight: bold;
}

window{
    text-shadow: 0px 2px 4px rgb(21, 24, 26);
    color: #d3d4cb;
}
window#waybar {
  background: rgba(56, 63, 68, 0.8);
}

tooltip{
  background-color: rgba(56, 63, 68, 0.8);
}

tooltip label {
  color: #d3d4cb;
  font-size: 12px;
  padding: 0;
}

#custom-specialWorkspace{
  transition: 0.2s;
  font-weight:bold;
  margin-left:5px;
  margin-right:5px;
}

#custom-specialWorkspace:hover{
  color: #84c46d;
}

#custom-menu{
  transition:0.2s;
  font-weight:bold;
  margin-left:10px;
  margin-right:5px;
}

#custom-menu:hover{
  color: #84c46d;
}

#mpris,
#clock,
#custom-notifications,
#network,
#backlight,
#pulseaudio,
#battery{
  margin-left:10px;
  margin-right:10px;
}

#workspaces{
  margin-right: 10px;
  margin-left: 5px;
}

#workspaces button {
  font-weight: bolder;
  padding: 0px 2px 0px 2px;
  color: rgba(165, 175, 182, 0.6);
  min-width: 18px;
}

#workspaces button:hover {
  box-shadow: none;
  color: #d3d4cb;
}

#workspaces button.active {
  color: #84c46d;
}

#workspaces button.active:hover {
  color: #475e3f;
}

#workspaces button.urgent {
  color: #e17b7b;
}

#mpris.paused{
  color: rgba(165, 175, 182, 0.6);
}

#network.disconnected, #network.disabled {
  color: rgba(165, 175, 182, 0.6);
}

#custom-notifications.nonempty{
  color: #e17b7b;
  animation-name: blink;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 3;
  animation-direction: alternate;
}

#pulseaudio.quiet{
  color: rgba(165, 175, 182, 0.6);
}

#pulseaudio.muted{
  color: #e17b7b;
}

@keyframes blink {
  50% {
    color: #d3d4cb;
  }
}

#battery.critical:not(.charging) {
  color: #e17b7b;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.warning:not(.charging){
  color: #daee76;
}

#battery.charging {
  color: #76ccc2;
}

#battery.good{
  color: #84c46d;
}

#battery.charged{
  color: #84c46d;
}

#battery.regular:not(.charging){
  color: #d3d4cb;
}
