
*{
  text-shadow: 0 2 4 rgb(21, 24, 26);
}
#window {
  background-color: rgba(56, 63, 68, 0);
  border-radius: 5px;
  font-size: .8rem;
  margin: 10px;
  /* The name of the box that contains everything */
}
#window #outer-box {
  /* The name of the search bar */
  /* The name of the scrolled window containing all of the entries */
  border-radius: 5px;
}

#input {
  background-color: rgba(56, 63, 68, 0.8);
  color: #d3d4cb;
  text-shadow: 0 2 4 rgb(21, 24, 26);
  border: none;
  padding: 0.7rem 1rem 0.6rem 1rem;
  font-size: 1.5rem;
  border-radius: 5px 5px 0 0;
  border-bottom: 3px solid rgba(80, 91, 99, 0.8);
}
#input:focus {
  border-bottom: 3px solid #84c46d;
  box-shadow: none;
}

#window #outer-box #scroll {
  /* The name of the box containing all of the entries */
    background-color: rgba(56, 63, 68, 0.8);
    border-radius: 0 0 5px 5px;
}
#window #outer-box #scroll #inner-box {
  /* The name of all entries */
  /* The name of all boxes shown when expanding  */
  /* entries with multiple actions */
}
#entry {
  color: #d3d4cb;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin: 7px;
  height: 2rem; 
  outline: none;
  font-weight: bold ;
  /* The name of all images in entries displayed in image mode */
  /* The name of all the text in entries */
}
#entry #img {
  padding-left: 0px;
}

#entry:selected{
  background-color: rgba(132, 196, 109, 0.8);
  color: #d3d4cb;
}

#window #outer-box #scroll #inner-box #entry:selected label,
#entry:selected>expander>list label{
  text-shadow: none;
  color: #d3d4cb;
}


expander>list{
  margin-top: 7px;
  background: none;
}
